{% extends "base.html" %}
{% block content %}
<section class="py-5">
    <div class="container h-100">
        <div class="row d-flex align-items-start h-100">
            <h1 class="display-5 fw-bolder mt-5">Личный кабинет</h1>
            <div class="col-lg-6 mt-5">
                <div class="card mb-3">
                    <div class="card-body p-4 align-items-center">
                        {% block password-layout %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}