{% extends "account/password_base.html" %}
{% load widget_tweaks %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block password-layout %}
<h1>{% trans "Set Password" %}</h1>

<form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {% for field in form %}
    <label for="{{ field.id_for_label }}"
           class="label small text-muted mt-1">{{ field.label }}</label>
    <div class="input-group">
        {{ field|add_class:"form-control" }}
    </div>
    <div class="p-0 invalid-msg small">
        {% for error in field.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </div>
    {% endfor %}
    <input class="btn btn-outline-dark mt-3" type="submit" name="action" value="{% trans 'Set Password' %}"/>
</form>
{% endblock %}
