{% extends 'base.html' %}
{% load static %}
{% block title %}Страница товара {{item.name}} {% endblock title %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-5 px-lg-12 my-5">
        <div>
            <h1 class="display-5 fw-bolder">Личный кабинет покупателя</h1>

            <div class="container mt-5">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-user-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-user-profile" type="button" role="tab"
                                aria-controls="nav-user-profile"
                                aria-selected="true">Профиль
                        </button>
                        <button class="nav-link" id="nav-orders-tab" data-bs-toggle="tab" data-bs-target="#nav-orders"
                                type="button" role="tab" aria-controls="nav-orders" aria-selected="false">Заказы
                        </button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Контакт
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <!-- ПРОФИЛЬ -->
                    <div class="tab-pane mt-3 fade show active" id="nav-user-profile" role="tabpanel"
                         aria-labelledby="nav-user-profile-tab">

                        <div class="container mt-5">
                            <div class="row row-cols-auto">
                                <div class="col">
                                    {% with profile=user.profile_set.first %}
                                    <img class="img-thumbnail img-flex"
                                         src="{{ profile.image.url }}" style="max-width: 160px; height: auto;">

                                </div>
                                <div class="col">
                                    <h3 class="">Логин: {{user.username}}</h3>
                                    <button type="button" class="btn btn-outline-dark me-2"
                                            onclick="location.href='{% url 'logout' %}'">
                                        <i class="bi bi-pencil-square"></i>
                                        Сменить пароль
                                    </button>
                                    <button type="button" class="btn btn-outline-dark me-2"
                                            onclick="location.href='{% url 'logout' %}'">
                                        <i class="bi bi-box-arrow-left"></i>
                                        Выйти
                                    </button>
                                </div>
                            </div>
                        <form>
                        <div class="card mt-2 p-2 col col-lg-6">
                            <label for="first-name" class="label small text-muted">Имя:</label>
                            <div class="input-group mb-3">
                                <input type="text" readonly class="form-control " id="first-name" value="{{ user.first_name }}">
                            </div>
                            <label for="last-name" class="label small text-muted">Фамилия:</label>
                            <div class="input-group mb-3">
                                <input type="text" readonly class="form-control" id="last-name" value="{{ user.last_name }}">
                            </div>
                            <label for="email" class="label small text-muted">E-mail:</label>
                            <div class="input-group mb-3">
                                <input type="email" readonly class="form-control" id="email" value="{{ user.email }}">
                                <button class="btn btn-outline-dark" type="button" id="email-confirm-button">
                                    <i class="bi bi-check-square"></i>
                                    <span class="small">Подтвердить</span>
                                </button>
                            </div>
                            <label for="phone-number" class="label small text-muted">Телефон:</label>
                            <div class="input-group mb-3">
                                <input type="text" readonly class="form-control" id="phone-number"
                                       placeholder="Например: +79998887766" value="{{ profile.phone_number }}">
                                <button class="btn btn-outline-dark" type="button" id="phone-number-confirm-button">
                                    <i class="bi bi-check-square"></i>
                                    <span class="small">Подтвердить</span>
                                </button>
                            </div>
                            <label for="address" class="label small text-muted">Адрес:</label>
                            <div class="input-group mb-3">
                                <textarea readonly class="form-control text-break" id="address" rows="3" placeholder="Ваш адрес для доставки" style="border-radius: 0.375rem;">{{ profile.address }}</textarea>
                            </div>
                        </div>
                            <div class="card mt-2 p-2 col col-lg-6">
                            <button class="btn btn-outline-dark" type="button" id="">
                                    <i class="bi bi-pencil-square"></i>
                                    Изменить
                                </button>
                            </div>
                        </form>

                        </div>
                    </div>
                    <!-- ЗАКАЗЫ -->
                    <div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">...
                    </div>
                    <!-- КОНТАКТ -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endwith %}
{% endblock content %}
