{% extends 'base.html' %}
{% load static %}
{% block title %}Главная страница{% endblock title %}
{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Магазин Паши</h1>
            <p class="lead fw-normal text-white-50 mb-0">Тут продаёца всё очень класное :)</p>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">

            {% for item in items %}
                    {% include 'item_card.html' with item=item %}
            {% endfor %}

        </div>
    </div>
</section>
<script src="{% static 'js/add_to_cart.js' %}"></script>
{% endblock content %}
