<div class="col mb-5">
<div class="card h-100">
    {% with main_image=item.productimage_set.first %}
    <!-- Product image-->
            <img class="card-img-top img-flex" src="{{ main_image.photo.url }}" alt="..."/>
    {% endwith %}

    <!-- Product details-->
    <div class="card-body p-4">
        <div class="text-center">
            <!-- Product name-->
            <h5 class="fw-bolder">{{ item.name }}</h5>
            <!-- Product price-->
            {{item.price}} р.
        </div>
    </div>
    <!-- Product actions-->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{item.get_absolute_url}}">Подробности</a></div>
    </div>
</div>
</div>