<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <div class="">
                <div class="form-floating pb-2">
                    <input type="text" class="form-control" id="floatingInput" placeholder="">
                    <label for="floatingInput">Имя пользователя</label>
                </div>
                <div class="form-floating pb-2 flex-shrink-0">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Пароль</label>
                </div>
                <div class="floating pb-2">
                <button type="button" class="form-control btn btn-outline-dark">Войти</button>
                </div>
            </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>