{% load static %}
{% load base_tags %}

{% load socialaccount %}
{% load account %}

{% get_categories as categories %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'index' %}">Мой Магазин</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'index' %}">Главная</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#!">О нас</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" id="navbarDropdown" href="#" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">Магазин</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'index' %}">Все категории</a></li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        {% for category in categories %}
                        <li><a class="dropdown-item" href="{{category.get_absolute_url}}">{{category.name}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if user.is_authenticated %}

                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'user-account' %}">Личный
                    Кабинет</a></li>
                {% else %}
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="" data-bs-toggle="modal"
                                        data-bs-target="#LoginModal">Личный
                    Кабинет</a></li>
                {% endif %}
            </ul>

            <div class="d-flex nav-link">
                {% if user.is_authenticated %}

                <button class="btn btn-outline-dark me-2" type="button" id="profile-button"
                        onclick="location.href='{% url 'user-account' %}'">
                    <div class="">
                        <img class="img-flex" src="{{ user.profile.image.url }}" style="width: 24px; height: 24px;">
                        {{ user.username}}
                    </div>
                </button>
                {% endif %}
                {% if not user.is_authenticated %}
                <button type="button" class="btn btn-outline-dark me-2" data-bs-toggle="modal"
                        data-bs-target="#LoginModal">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Войти
                </button>
                {% endif %}
                <button class="btn btn-outline-dark me-2" type="button" id="cart-button"
                        onclick="location.href='{% url 'cart-view' %}'">
                    <i class="bi bi-cart4"></i>
                    Корзина
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id="cart-count">{{ cart_count }}</span>
                </button>
            </div>
        </div>
    </div>
</nav>

<!--МОДАЛЬНОЕ ОКНО ДЛЯ ВХОДА -->

<div class="modal fade" id="LoginModal" tabindex="-1" aria-labelledby="LoginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LoginModalLabel">Вход</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="social-auth p-2">
                    <div class="row">
                        <div class="col-6 p-1 flex">
                            <button type="button" class="btn btn-outline-dark p-3 form-control "
                                    onclick="location.href='{% provider_login_url 'google' %}'">
                                <img src="{% static '/assets/google_small.png' %}" alt="Google"
                                     class="img-fluid" style="width: 20px; height: 20px;">
                                Войти с Google
                            </button>
                        </div>
                        <div class="col-6 p-1 flex">
                            <button type="button" class="btn btn-outline-dark p-3 form-control"
                                    onclick="location.href='{% provider_login_url 'vk' %}'">
                                <img src="{% static '/assets/vk_small.png' %}" alt="VKontakte"
                                     class="img-fluid" style="width: 20px; height: 20px;">
                                Войти с VKontakte
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="d-flex align-items-center">
                        <hr class="flex-grow-1">
                        <span class="mx-2 text-muted small">или</span>
                        <hr class="flex-grow-1">
                    </div>
                </div>
                <form id="loginForm" data-action-url="{% url 'account_login' %}">
                    {% csrf_token %}
                    <div class="form-floating pb-2 mt-3">
                        <input type="text" name="login" class="form-control" id="id_login"
                               placeholder="Логин или E-mail"
                               autocomplete="username" required="">
                        <label for="id_login">Логин или E-mail</label>
                    </div>
                    <div class="form-floating pb-2 flex-shrink-0">
                        <input type="password" name="password" class="form-control" id="id_password"
                               placeholder="Пароль" autocomplete="current-password" required="">
                        <label for="id_password">Пароль</label>
                    </div>
                    <div id="loginFailAlert" class="alert alert-danger d-flex align-items-center visually-hidden"
                         role="alert" style="display: none;">
                        <div>
                            <i class="bi bi-exclamation-triangle-fill"></i>
                            Неправильный логин или пароль !
                        </div>
                    </div>
                    <div class="floating pb-2">
                        <button type="submit" onclick="submitLoginForm(event)"
                                class="form-control btn btn-outline-dark p-3">
                            Войти
                        </button>
                    </div>
                </form>
                <div class="col-12 mt-2">
                    <div class="d-flex align-items-center">
                        <hr class="flex-grow-1">
                        <span class="mx-2 text-muted small">или</span>
                        <hr class="flex-grow-1">
                    </div>
                </div>

                <div class="col-12 text-center mt-3">
                    <a class="form-control btn btn-outline-dark p-3" href="" data-bs-toggle="modal"
                       data-bs-target="#SignUpModal">Зарегистрировать новый аккаунт !</a>

                </div>

            </div>
        </div>

    </div>
</div>

<!--МОДАЛЬНОЕ ОКНО ДЛЯ РЕГИСТРАЦИИ НОВОГО АККАУНТА-->

<div class="modal fade" id="SignUpModal" tabindex="-1" aria-labelledby="SignUpModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn" data-bs-toggle="modal"
                        data-bs-target="#LoginModal">
                    <i class="bi bi-arrow-left lead"></i></button>
                <h5 class="modal-title ms-3" id="SignUpModalLabel">Регистрация нового аккаунта</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <form id="signup_form" data-action-url="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <div class="form-floating pb-2 mt-3">
                        <input type="text" name="username" class="form-control" id="id_username"
                               placeholder="Логин"
                               autocomplete="username" minlength="1" maxlength="150" required="Обязательно">
                        <label for="id_username">Логин</label>
                        <div class="invalid-feedback">
                            Ошибки валидации
                        </div>

                    </div>
                    <div class="form-floating pb-2">
                        <input type="email" name="email" class="form-control" id="id_email" placeholder="Ваш E-mail"
                               autocomplete="email" required="">
                        <label for="id_email">E-mail</label>
                        <div class="invalid-feedback">
                            Ошибки валидации
                        </div>
                    </div>
                    <div class="form-floating pb-2">
                        <input type="password" name="password1" class="form-control" id="id_password1"
                               placeholder="Пароль" autocomplete="new-password" required="">
                        <label for="id_password1">Пароль</label>
                        <div class="invalid-feedback">
                            Ошибки валидации
                        </div>
                    </div>
                    <div class="form-floating pb-2">
                        <input type="password" name="password2" class="form-control" id="id_password2"
                               placeholder="Пароль ещё раз" autocomplete="new-password" required="">
                        <label for="id_password2">Пароль ещё раз</label>
                        <div class="invalid-feedback">
                            Ошибки валидации
                        </div>
                    </div>
                    <div class="floating pb-2 mt-3">
                        <button type="submit" onclick="submitSignUpForm(event)"
                                class="form-control btn btn-outline-dark p-3">
                            Зарегистрировать!
                        </button>
                    </div>
                </form>

            </div>
        </div>

    </div>
</div>

<!--Триггер успешного входа для показа сообщения-->
{% if messages %}
    {% for message in messages %}
        {% if message.message == "Successful login" %}
            <script>
                localStorage.setItem('showLoginSuccessMessage', 'true');
            </script>
        {% endif %}
    {% endfor %}
{% endif %}



<!--МОДАЛЬНОЕ ОКНО СООБЩЕНИЯ О ВХОДЕ-->
<div class="modal fade" id="LoginSuccessModal" tabindex="-1" aria-labelledby="LoginSuccessModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="LoginSuccessModalLabel">Добро пожаловать!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill"/>
                    </svg>
                    <div class="d-flex align-items-center">
                        <span class="text-large lead">
                            <i class="bi bi-person-check-fill"></i>
                            Вы успешно вошли как {{user.username}}!
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

