{% extends 'base.html' %}
{% load static %}
{% block title %}Страница товара {{item.name}} {% endblock title %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
            <div class="row align-items-center">
            <div class="col-md-6">
                <!-- карусель-->
                <div id="productImg" class="" data-bs-ride="">
                       {% with img=item.productimage_set.first %}
                       <img class="card-img-top img-flex" src="{{ img.photo.url }}"
                       style="height: 350px; weight: auto;">
                    {% endwith %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="small mb-1">SKU: 1020{{item.id}}</div>
                <h1 class="display-5 fw-bolder">{{item.name}}</h1>
                <div class="fs-5 mb-5 mt-5">
                    <span>{{item.price}} р.</span>
                </div>

                <form id="add-to-cart-form" method="POST" action="{% url 'add-to-cart' %}">
                   {% csrf_token %}
                    <div class="d-flex position-relative">

                        <input type="hidden" name="slug" id="slug" value="{{ item.slug }}">
                        <input type="hidden" name="order_id" id="order_id" value="{{ cart.id }}">

                        {% include 'number_input_component.html'%}
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-outline-dark flex-shrink-0 ms-4 message-in-item-card">
                            <i class="bi-cart-fill me-1"></i>
                            Товар добавлен в корзину!
                        </button>
                        <button class="btn btn-outline-dark flex-shrink-0 ms-4 add-to-cart-button" type="submit" id="add-to-cart" onclick="showMessage(this)">
                            <i class="bi-cart-fill me-1"></i>
                            Добавить в корзину
                        </button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
            <div class="row">
            <p class="lead mt-5">{{item.description}}</p>
            </div>
        </div>
</section>


<script src="{% static 'js/add_to_cart.js' %}"></script>
{% endblock content %}
