{% extends 'base.html' %}
{% load static %}
{% block title %}Страница товара {{item.name}} {% endblock title %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div>
            <h1 class="display-5 fw-bolder">Личный кабинет покупателя {{ user.username }}</h1>

            <div class="container mt-5">
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Активная</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button"
                           aria-expanded="false">Выпадающий список</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Действие</a></li>
                            <li><a class="dropdown-item" href="#">Другое действие</a></li>
                            <li><a class="dropdown-item" href="#">Что-то еще здесь</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Отделенная ссылка</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ссылка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Отключенная</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
