{% extends 'base.html' %}
{% load static %}
{% block title %}Страница пользователя {{user.username}} {% endblock title %}
{% block content %}
<script src="https://api-maps.yandex.ru/2.1/?apikey=95255c03-0cbc-4069-89e1-d1fd49ca74da&lang=ru_RU"
        type="text/javascript"></script>
<!-- Product section-->
<section class="py-5">
    <div class="container px-5 px-lg-12 my-5">
        <div>
            <h1 class="display-5 fw-bolder">Личный кабинет</h1>

            <div class="container mt-5">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-user-profile-tab" data-bs-toggle="tab"
                                data-bs-target="#nav-user-profile" type="button" role="tab"
                                aria-controls="nav-user-profile"
                                aria-selected="true"
                                onclick="location.href='{% url 'user-account' %}'">Профиль
                        </button>
                        <button onclick="location.href='{% url 'user-account-orders' %}'" class="nav-link"
                                id="nav-orders-tab" data-bs-toggle="tab" data-bs-target="#nav-orders"
                                type="button" role="tab" aria-controls="nav-orders" aria-selected="false">Заказы
                        </button>
                        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                                type="button" role="tab" aria-controls="nav-contact" aria-selected="false"
                                onclick="location.href='{% url 'user-account-contact' %}'">Контакт
                        </button>
                    </div>
                </nav>
                <div class="tab-content" id="nav-tabContent">
                    <!-- ПРОФИЛЬ -->
                    <div class="tab-pane mt-3 fade show active" id="nav-user-profile" role="tabpanel"
                         aria-labelledby="nav-user-profile-tab">

                        <div class="container mt-5">
                            <div class="row row-cols-auto">
                                <div class="col">

                                    <img class="img-thumbnail img-flex"
                                         src="{{ user.profile.image.url }}" style="max-width: 160px; height: auto;">

                                </div>
                                <div class="col">
                                    <h3 class="">Логин: {{user.username}}</h3>
                                    <button type="button" class="btn btn-outline-dark me-2"
                                            onclick="location.href='{% url 'account_change_password' %}'">
                                        <i class="bi bi-pencil-square"></i>
                                        {% if user.has_usable_password %}
                                        Сменить пароль
                                        {% else %}
                                        Придумать пароль
                                        {% endif %}
                                    </button>
                                    <button type="button" class="btn btn-outline-dark me-2"
                                            onclick="location.href='{% url 'logout' %}'">
                                        <i class="bi bi-box-arrow-left"></i>
                                        Выйти
                                    </button>
                                </div>
                            </div>
                            <form action="{% url 'user-account' %}" method="post" id="profileForm">

                                {% csrf_token %}
                                <div class="card mt-2 p-2 col col-lg-6">
                                    <label for="{{ form.first_name.id_for_label }}"
                                           class="label small text-muted mt-1">Имя:</label>
                                    <div class="input-group">
                                        {{ form.first_name }}
                                    </div>
                                    <div class="p-0 invalid-msg small">
                                        {% for error in form.first_name.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </div>
                                    <label for="{{ form.last_name.id_for_label }}" class="label small text-muted mt-3">Фамилия:</label>
                                    <div class="input-group">
                                        {{ form.last_name }}
                                    </div>
                                    <div class="p-0 invalid-msg small">
                                        {% for error in form.last_name.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </div>
                                    <label for="{{ form.email.id_for_label }}"
                                           class="label small text-muted mt-3">E-mail:</label>
                                    <div class="input-group">
                                        {{ form.email }}
                                        {% with email=user.emailaddress_set.first %}
                                        <button class="btn btn-outline-dark" type="button"
                                                id="emailConfirmButton"
                                                data-action-url="{% url 'email-confirm' user_id=user.id %}"
                                                {% if email.verified %} disabled
                                        >
                                            <i class="bi bi-check-square"></i>
                                            <span class="small">Подтверждён
                                        {% else %}
                                            >
                                            <i class="bi bi-envelope"></i>
                                            <span class="small">
                                                Подтвердить{% endif %}</span>
                                        </button>

                                    </div>
                                    <div class="p-0 invalid-msg small">
                                        {% for error in form.email.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </div>
                                    <label for="{{ form.phone_number.id_for_label }}"
                                           class="label small text-muted mt-3">Телефон:</label>
                                    <div class="input-group">
                                        {{ form.phone_number }}
                                        <button class="btn btn-outline-dark" type="button"
                                                id="phoneNumberConfirmButton">
                                            <i class="bi bi-envelope"></i>
                                            <span class="small">Подтвердить</span>
                                        </button>
                                    </div>
                                    <div class="p-0 invalid-msg small">
                                        {% for error in form.phone_number.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </div>
                                    <label for="{{ form.address.id_for_label }}"
                                           class="label small text-muted mt-3">Адрес:</label>
                                    <div class="input-group">
                                        {{ form.address }}
                                    </div>
                                    <div class="p-0 invalid-msg small mb-3">
                                        {% for error in form.address.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="mt-2 p-2 col col-lg-6">
                                    <button class="btn btn-outline-dark form-control" type="button"
                                            onclick="editForm();" id="editProfileButton">
                                        <i class="bi bi-pencil-square"></i>
                                        Изменить
                                    </button>
                                    <button type="submit" class="btn btn-outline-dark form-control"
                                            id="saveProfileButton" style="display: none;">
                                        <i class="bi bi-pencil-square"></i>
                                        Сохранить
                                    </button>
                                </div>

                            </form>

                        </div>
                    </div>
                    <!-- ЗАКАЗЫ -->
                    <div class="tab-pane fade" id="nav-orders" role="tabpanel" aria-labelledby="nav-orders-tab">...
                    </div>
                    <!-- КОНТАКТ -->
                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--МОДАЛЬНОЕ ОКНО СООБЩЕНИЯ О ПОДТВЕРЖДЕНИИ ИМЭЙЛА-->
<div class="modal fade" id="EmailConfirmedModal" tabindex="-1" aria-labelledby="EmailConfirmedModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="EmailConfirmedModalLabel">Отлично!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
                        <use xlink:href="#check-circle-fill"/>
                    </svg>
                    <div class="d-flex align-items-center">
                        <span class="text-large lead">
                            {% for message in messages %}
                            <p><i class="bi bi-check-circle"></i> {{message.message}}</p>
                            {% endfor %}
                        </span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% if messages %}
{% for message in messages %}
{% if 'подтверждён' in message.message or 'Пароль' in message.message %}
<script>
          localStorage.setItem('showEmailConfirmedMessage', 'true');

</script>
{% endif %}
{% endfor %}
{% endif %}
{% endwith %}
<script src="{% static '/js/profile.js' %}"></script>
{% if form.errors %}
<script>
    editForm();

</script>
{% endif %}
{% endblock content %}
